.nav-header{
    width: 100%;
    max-width: 2000px;
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--web-color);
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
}

.nav-header h1{
    cursor: pointer;
    color: var(--web-color);
    transition: color .4s ease;
    font-size: 2.4rem;
}

.nav-header h1:hover{
    color: #ff7d04;
    transition: color .4s ease;
}

.nav-header ul{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.nav-header li{
    list-style: none;
}

.nav-header li .btnHeader{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700; 
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: color .4s ease;
}

.nav-header li .btnHeader:hover{
    color: var(--web-color);
    text-decoration: underline;
    transition: color .4s ease;
}

.logo{
    width: 60px;
    margin-left: 100px;
}

@media screen and (max-width: 1125px) {
    .nav_items{
        position: absolute;
        top: 80px;
        background: var(--bg-color);
        border-top: 1px solid var(--web-color);
        display: flex;
        flex-direction: column;
        width: 100%;       
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav_items.open{
        transform: translateX(0) !important
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                
        margin: 15px;
    }
    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: var(--web-color);
        margin-bottom: 5px;
        border-radius: 2px;             
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }
    .nav-header ul{
        width: 100%;
    }
    .nav-header li .btnHeader{
        color: #fff;
        font-weight: 800;
        margin: 25px 0 25px 0;
    }
    .nav-header li .btnHeader:hover{
        color: var(--web-color);
        font-weight: 800;
    }
    .logo{
        margin: 0;
    }
}