.contentPortafolio h3{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

.contentPortafolio .info{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentPortafolio .info .card{
    width: 30rem;
    height: 32rem;
    padding: 20px;
    margin-bottom: 30px;
}

.contentPortafolio .info .card .img_portada{
    width: 200px;
    margin: 20px auto;
    border: 5px solid var(--web-color);
}

.contentPortafolio .info .card .card-body img{
    width: 100%;
    margin-bottom: 20px;
}

.contentPortafolio .info .card .card-body .card-title{
    margin-bottom: 20px;
}

.contentPortafolio .info .card .card-body .card-text{
    font-family: "Roboto", sans-serif;
}

.contentPortafolio .info .card .card-body .text1{
    font-family: "Roboto", sans-serif;
}

.botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.botones .btnPortafolio{
    background: none;
    border: none;
    color: var(--web-color);
    font-size: 20px;
}

.btnPortafolio:hover{
    color: #fff;
    text-decoration: underline;
}

.btnModal{
    width: 150px;
    height: 30px;
    padding: 3px;
    font-weight: bold;
    background-color: var(--web-color);
    border: none;
    color: var(--bg--color);
    box-shadow: 0px 0px 10px 0px var(--web-color);
}

.btnCard{
    width: 100%;
    padding: 3px;
    font-weight: bold;
    background-color: var(--web-color);
    border: none;
    color: var(--bg--color);
    box-shadow: 0px 0px 10px 0px var(--web-color);
}

.btnCard:hover{
    transform: scale(.9);
}

.btn_ver{
    margin-top: 50px;
}

#visitar{
    text-decoration: none;
    color: var(--bg--color);
}

@media screen and (max-width: 1125px){
    .botones{
        gap: 30px;
    }
}